.order-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#add-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-todo button {
  margin: 8px;
}

#todo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#todo-section table {
  width: 90%;
  border-collapse: collapse;
}

#todo-section table td {
  border: 1px solid #ffffff42;
}


#todo-section tbody tr:hover {
  background: #f9fafb17;
}

#table-col-options button{
  margin: 0 4px;
}

@media (max-width: 600px) {
  #table-col-options button {
    margin: 0 2px;
    padding: 0px;
  }
}

#filter-section div {
  display: flex;
  gap: 4px;
}